@font-face {
  font-family: "ProximaRegular";
  src: url("./assets/fonts/Regular.otf");
}
@font-face {
  font-family: "ProximaThin";
  src: url("./assets/fonts/Thin.otf");
}
@font-face {
  font-family: "ProximaNovaB";
  src: url("./assets/fonts/NovaBold.otf");
}


/*
body{
  font-family: Avenir;
}
*/
